doctype html
html
  head
    title Generated Page
  body
    section
      h1 Activity: #{activity}
      p Type: #{type}
      p Participants: #{participants}
      p Price: #{price}
      p Accessibility: #{accessibility}
